<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
</head>
<body>

<div id="sidebar">
<div id="logo">
  <%= link_to root_path do%>
  <% image_tag("logo.png", size: "116") %>
  <%end%>
</div>
<ul>
<li class="category">Website</li>
<li><%= link_to 'blog', root_path%></li>
<li><%= link_to 'About',about_path %> </li>
</ul>

<ul>
<li class="category">Social</li>
<li><a href="https://twitter.com/vrpraaveen">Twitter</a></li>
<li><a href="http://stackoverflow.com/users/3248148/praaveen">Stackoverflow</a></li>
<li><a href="https://github.com/pvin">Github</a></li>
</ul>
 <%if !user_signed_in?%>
  <p class="sign_in"><%= link_to 'Admin Login', new_user_session_path %></p>
 <%end%>
</div>

<div id="main_content">
  <div id="header">
  <%if current_page?(root_path)%>
    <p>All blog</p>
  <%elsif current_page?(about_path)%>
    <p>About</p>
  <%else%>
    <%= link_to 'Show all blogs', root_path%>
  <%end%>
    <%if user_signed_in?%>
     <div class="buttons">
      <%= button_to "New Post", new_post_path, method: :get %>
      <%= button_to "Log  Out", destroy_user_session_path, :method => :delete   %>
     </div>
    <%end%>
  </div>

<%flash.each do |name, msg|%>
      <div id="page_wrapper">
      <%= content_tag(:div,msg, class: "alert" ) %>
      </div>
 <%end%>

  <%= yield %>
</div>

</body>
</html>